div.headerSelect > ul {
  padding-left: 20px;
}


span.static-title {
  padding-left: 3em;
}

span.user-initals {
  color: black; 
  padding: 3px, 3px,3px,3px;
  margin-left: 1em;
  background-color: orange;
}
span.user-initals-0 {
  background-color: orange; 
}
span.user-initals-1 {
  background-color: blue; 
}
li.activityItemRow {

}
a.activityItem {
  
}
span.ai-actions a {
  padding-right: .5em;
}

div.activity-management {

}
div.activity-management-container {}
  margin-bottom: 1em;
}

a.owned {
  color: green !important;
}
a.not-owned{
  color: red !important;
}

span.owner{
  font-size: .5em;
  padding-right: 3px;
}
li.actionItem a.owned i {
  font-size: 1em;
}
div#actionItemsPanel {
  padding-top: 5px;
  padding-bottom: 5px;
}