div.headerSelect > ul {
  padding-left: 20px;
}
span.static-title {
  padding-left: 3em;
}
span.user-initals {
  color: black; 
  padding: 3px, 3px,3px,3px;
  margin-left: 1em;
  background-color: orange;
}
span.user-initals-0 {
  background-color: orange; 
}
span.user-initals-1 {
  background-color: blue; 
}
span.ai-actions a {
  padding-right: .5em;
}
div.activity-management-container {}
  margin-bottom: 1em;
}
a.owned {
  color: green !important;
}
a.not-owned{
  color: red !important;
}
span.owner{
  font-size: .5em;
  padding-right: 3px;
}
li.actionItem a.owned i {
  font-size: 1em;
}
div#actionItemsPanel {
  padding-top: 5px;
  padding-bottom: 5px;
}
div#retroNav {
  padding: 5px;
}
div.sideLabel {
  width: 8em;
  padding: 5px;
  text-align: center;
  position:fixed;
  top: 50%;
}
div.sideLabelLeft {
  left:-50px;
}
div.sideLabelRight {
  right:-40px;
  height: 1em;
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}